<h1>Projects</h1>

<div id="projects">
<% @projects.each do |proj| %>
  <h2><%= link_to proj.name, project_path(proj) %></h2>
    <p><%= proj.description %></p>
  <% end %>
</div>

  <%= link_to 'New Project', new_admin_project_path, class: 'btn btn-success'  %>