
main{
  margin-top: 10%;
}
nav{
  margin: 0 5%;
}

#navbar-custom{
  border-radius: 100px;
  margin: 10px;
  background-color: #44a;
  border: none;
  .navbar-nav {
    li{
      a{
        border-radius:100px;
        margin:10px;
        margin-right: 30px;
        color: #fbfefb;
      }
    }
  }
  .navbar-right{
    p{
      margin-top: 25px;
      color: #6ebdef;
    }

  }
}