
main{
  margin-top: 10%;
}
nav{
  margin: 0 5%;
}

#navbar-custom{
  border-radius: 100px;
  .navbar-nav {
    .active{
      a{
        border-radius:100px;
        margin:10px;
      }
    }
  }
  .navbar-right{
    margin:10px;
    p{
      color: #6ebdef;
    }
  }
}